p{
    color:black
}
p{
    text-align: justify;

}
.GG{
    width: 500px;
    position: absolute;
    left: 30%;
    top: 14%;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20PX;

    
}
h1{
    color:rgba(255, 0, 0, 0.863)
    
}
h1{
    text-align: center;
    font-size: 260%;
}
body{
    background-image: url(jpão.webp);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';

}
.HH{
    text-decoration: underline;
}
.JJ{
    text-align: center;
    font-weight: bold;
    margin: 20PX;
    width: 500px;
    position: absolute;
    font-style: italic;
    left: 30%;
    font-size: 22px;
    text-align: justify;
    text-decoration: underline;
}
.oo{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    text-align: justify;
    margin: 18px;
}
.PP{
    text-decoration: underline;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}
